{% extends 'home/layout.html' %}

{% block title %}Товары на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Товары на сайте</h1>
        {% if products %}
            {% for el in products %}
                <div class="alert alert-warning">
                    <h3>{{ el.name }}</h3>
<!--                    <p>{{ el.slug }}</p>-->
                    <img src="{{ el.image.url }}" width="60" height="60">
                    <a href="{% url 'products-detail' el.id %}" class="btn btn-warning ml-4 ">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}

        {# Комментарий #}
    </div>
{% endblock %}